{% extends 'base.html' %}
{% block content %}

<div class="head">
    <h1 style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;"><a style="color:#FFFDFA;text-decoration:None;" href="/">📝Todo List</a></h1>

    <nav class="top_nav">
      <label for="" class="button" tabindex="1">
        {%if user.is_authenticated%}
        <span id="box_border" style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;background-color:purple;width:35px;height:17px; font-family: Arial, Helvetica, sans-serif;text-align:center;padding-top:50%;padding-bottom:50%;border-radius:100%;">{{user.username|make_list|first|capfirst }}</span>

       {% else %}
       <span style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;" class="fas fa-bars"></span>
       {% endif %}
      </label>
      <ul class="menu">
        <li> <a href="/">Task</a></li>
        <li> <a href="{%url 'recurring' %}">Recurring Task</a></li>
        {% if user.is_authenticated %}
        <li> <a href="account/logout">Logout</a> </li>
        {%else%}
        <li> <a href="account/login">Login/Signup</a> </li>
        {% endif %}
        <li> <a href="{%url 'timer' %}">Timer</a> </li>
        <li> <a href="{%url 'progress' %}">Progress Bar</a> </li>
      </ul>
    </nav>

  </div>
<hr class="top_line">
<div class="box">
<div class="box_head">
<table>
<tr>
<td>
 <p style="text-shadow: 0 0 3px #FF0000, 0 0 5px gray;">Progress Bar</p>
</td>
<td style="text-align:center;">
 <p style="text-shadow: 0 0 3px #FF0000, 0 0 5px gray;">{{time}}</p>
</td>
<td>
 <nav>
   <label for="" class="ellipsis" tabindex="1">
   <span style="text-shadow: 0 0 3px #FF0000, 0 0 5px gray;color:black;" class="fas fa-ellipsis-v fa-1x"></span>
   </label>
   <ul class="menu">
     <li><a href="{%url 'changechartcolor' color='cyan'%}">Vertical Bar Chart</a></li>
     <li> <a href="{%url 'changechartcolor' color='lightgreen'%}">Line Chart</a> </li>
     <li> <a href="{%url 'changechartcolor' color='red'%}">Bubble Chart</a> </li>
     <li> <a href="{%url 'changechartcolor' color='gold'%}">Area Chart</a> </li>
     <li> <a href="{%url 'changechartcolor' color='lightgrey'%}">Stacked Bar Chart</a> </li>
   </ul>
 </nav>
</td>
</tr>
</table>
</div>
<hr class="box_line">
{{ xVal|json_script:"xVal" }}
{{ yVal|json_script:"yVal" }}
{{ zVal|json_script:"zVal" }}
{{ color|json_script:"color" }}

<canvas id="myChart" style="height:400px;width:100%;max-width:1000px;background-color:white;opacity:0.8;"></canvas>

<script type="text/javascript">
  const xValues = JSON.parse(document.getElementById('xVal').textContent);
  const yValues = JSON.parse(document.getElementById('yVal').textContent);
  const zValues = JSON.parse(document.getElementById('zVal').textContent);
  var barColors = JSON.parse(document.getElementById('color').textContent);


new Chart("myChart", {
  type: "line",
  
  data: {
    labels: xValues,
    
    datasets: [{ 
      data: yValues,
      borderColor: "red",
      fill: false,
      label:'Completed Task'
    }, 
    { 
      data: zValues,
      borderColor: "blue",
      fill: false,
      label:'Total Task',
      

    }]
  },
  
  options: {
    legend: {display: true},
    title: {
      display: false,
      fontSize:20,
      text: "Daily Progress Bar"
    },
    scales: {
      yAxes: [{
        ticks: {
          fontSize: 16,
          beginAtZero:true,
          fontColor:'green'
      },
        scaleLabel: {
          display: true,
          fontColor:'black',
          fontSize:16,
          labelString: 'Completed Task',
        }
      }],
      xAxes: [{
        ticks: {
          fontSize: 10,
          fontColor:'green'
      },
        scaleLabel: {
          display: true,
          fontColor:'black',
          fontSize:16,
          labelString: 'Last 7 days (Days you logged in)'
        }
      }]
    }
  }
  
  
});
</script>





{% endblock%}