{% extends 'base.html' %}
{% block content %}
<div   id="mySidenav3" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
  <a href="{%url 'changechartcolor' color='bar'%}"> {%if color == 'bar'%}<mark style="color:green;background-color:transparent;font-size:26px;position:absolute;left:5px;">✓</mark>{%endif%} Bar Chart</a>
      <a href="{%url 'changechartcolor' color='line'%}">{%if color == 'line'%}<mark style="color:green;background-color:transparent;font-size:26px;position:absolute;left:5px;">✓</mark>{%endif%}Line Chart</a>
     <a href="{%url 'changechartcolor' color='area'%}">{%if color == 'area'%}<mark style="color:green;background-color:transparent;font-size:26px;position:absolute;left:5px;">✓</mark>{%endif%}Area Chart</a> 
</div>

<div class="head">
    <h1 style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;"><a style="color:#FFFDFA;text-decoration:None;" href="/">📝Todo List</a></h1>

    <nav class="top_nav">
      <label for="" class="button" tabindex="1">
        {%if user.is_authenticated%}
                <span onclick="openNav()" id="box_border" style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;background-color:purple;width:35px;height:17px; font-family: Arial, Helvetica, sans-serif;text-align:center;padding-top:50%;padding-bottom:50%;border-radius:100%;position:relative;bottom:10px;">{{user.username|make_list|first|capfirst }}</span>
       
               {% else %}
               <span onclick="openNav()" style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;" class="fas fa-bars"></span>
               {% endif %}
      </label>
 
    </nav>

  </div>
<hr class="top_line">
<div class="box">
<div class="box_head">
<table>
<tr>
<td>
 <p style="text-shadow: 0 0 3px #FF0000, 0 0 5px gray;">Progress Bar</p>
</td>
<td style="text-align:center;">
 <p style="text-shadow: 0 0 3px #FF0000, 0 0 5px gray;">{{time}}</p>
</td>
<td>
 <nav>
   <label for="" class="ellipsis" tabindex="1">
   <span onclick="openNav3()" style="text-shadow: 0 0 3px #FF0000, 0 0 5px gray;color:black;" class="fas fa-ellipsis-v fa-1x"></span>
   </label>
  
 </nav>
</td>
</tr>
</table>
</div>
<hr class="box_line">
{{ xVal|json_script:"xVal" }}
{{ yVal|json_script:"yVal" }}
{{ zVal|json_script:"zVal" }}
{{ color|json_script:"color" }}

<canvas id="myChart" style="height:400px;width:100%;max-width:1000px;background-color:white;opacity:0.8;"></canvas>

<script type="text/javascript">
  xValues = JSON.parse(document.getElementById('xVal').textContent);
  yValues = JSON.parse(document.getElementById('yVal').textContent);
  zValues = JSON.parse(document.getElementById('zVal').textContent);
  barColors = JSON.parse(document.getElementById('color').textContent);
</script>
  

<script>
  if(barColors == 'line')
  {
new Chart("myChart", {
  type: "line",
  
  data: {
    labels: xValues,
    
    datasets: [{ 
      data: yValues,
      borderColor: "red",
      backgroundColor:"red",
      fill: false,
      label:'Completed Task'
    }, 
    { 
      data: zValues,
      borderColor: "blue",
      backgroundColor:"blue",
      fill: false,
      label:'Total Task',
      

    }]
  },
  
  options: {
    legend: {display: true},
    title: {
      display: true,
      fontSize:12,
      text: "Line Graph"
    },
    scales: {
      yAxes: [{
        ticks: {
          fontSize: 16,
          beginAtZero:true,
          fontColor:'green'
      },
        scaleLabel: {
          display: true,
          fontColor:'black',
          fontSize:16,
          labelString: 'Number of Task',
        }
      }],
      xAxes: [{
        ticks: {
          fontSize: 10,
          fontColor:'green'
      },
        scaleLabel: {
          display: true,
          fontColor:'black',
          fontSize:16,
          labelString: 'Last 7 days (Days you logged in)'
        }
      }]
    }
  }
  
  
});
  }
  else if(barColors == 'bar')
  {
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: 'orange',
          data: yValues,
          fill: false,
          label:'Completed Task'
        },
        {
          backgroundColor: 'lightgreen',
          data: zValues,
          fill: false,
          label:'Total Task'
        }]
      },
      options: {
        legend: {display: true},
        title: {
          display: true,
          fontSize:12,
          text: "Bar Graph"
        },
        scales: {
          yAxes: [{
            ticks: {
              fontSize: 16,
              beginAtZero:true,
              fontColor:'green'
          },
            scaleLabel: {
              display: true,
              fontColor:'black',
              fontSize:16,
              labelString: 'Number of Task',
            }
          }],
          xAxes: [{
            ticks: {
              fontSize: 10,
              fontColor:'green'
          },
            scaleLabel: {
              display: true,
              fontColor:'black',
              fontSize:16,
              labelString: 'Last 7 days (Days you logged in)'
            }
          }]
        }
      }
    });
  }
  else{
    var ctx = document.getElementById("myChart").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: xValues,
        datasets: [{
            label: 'Completed Task', // Name the series
            data: yValues, // Specify the data values array
            fill: true,
            borderColor: '#2196f3', // Add custom color border (Line)
            backgroundColor: '#2196f3', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        },
                  {
            label: 'Total Task', // Name the series
            data: zValues, // Specify the data values array
            fill: true,
            borderColor: '#4CAF50', // Add custom color border (Line)
            backgroundColor: '#4CAF50', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        }]
    },
    options: {
      responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
      title: {
        display: true,
        fontSize:12,
        text: "Area Graph"
      },
      scales: {
        yAxes: [{
          ticks: {
            fontSize: 16,
            beginAtZero:true,
            fontColor:'green'
        },
          scaleLabel: {
            display: true,
            fontColor:'black',
            fontSize:16,
            labelString: 'Number of Task',
          }
        }],
        xAxes: [{
          ticks: {
            fontSize: 10,
            fontColor:'green'
        },
          scaleLabel: {
            display: true,
            fontColor:'black',
            fontSize:16,
            labelString: 'Last 7 days (Days you logged in)'
          }
        }]
      }
    }
});
  }
</script>

<script>
  function openNav3() {
    document.getElementById("mySidenav3").style.width = "250px";
  }
  
  function closeNav3() {
    document.getElementById("mySidenav3").style.width = "0";
  }
</script>



{% endblock%}