{% extends 'base.html' %}
{% block content %}


<div   id="mySidenav2" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  <a href="{%url 'R_delete_all' %}">Clear All Tasks</a>
  <a href="{%url 'R_clear_finished' %}">Clear Finished Tasks</a> 
</div>

   <div class="head">
    <h1 class="todo_link" style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;"><a style="color:#FFFDFA;text-decoration:None;" href="/">📝Todo List</a></h1>


     <nav class="top_nav">
      <label for="" class="button" tabindex="1">
        {%if user.is_authenticated%}
        <span onclick="openNav()" id="box_border" class="home_button">{{user.username|make_list|first|capfirst }}</span>

       {% else %}
       <span onclick="openNav()" id="home_button2" class="fas fa-bars"></span>
       {% endif %}
      </label>
     
     </nav>

   </div>
<hr class="top_line">
<div class="box">
<div class="box_head">
<table>
<tr>
<td>
  <p class="title" style="text-shadow: 0 0 3px #FF0000, 0 0 5px gray;">Tasks</p>
</td>
<td style="text-align:center;">
  <p class="time" style="text-shadow: 0 0 3px #FF0000, 0 0 5px gray;">{{time}}</p>
</td>
<td>
  <nav>
    <label for="" class="ellipsis" tabindex="1">
    <span id="elip" onclick="openNav2()" style="text-shadow: 0 0 3px #FF0000, 0 0 5px gray;color:black;padding-left:10px;" class="fas fa-ellipsis-v fa-1x"></span>
    </label>
  
  </nav>
</td>
</tr>
</table>
</div>
<hr class="box_line">
<!-- if add task is hit-->
<ul class="list">
{% if H is 1%}
<form action="" method="POST">
{% csrf_token %}
<!--{{form.as_p}}-->
<li id="hak">
<input autocomplete="off" autofocus id="myText" placeholder="Go on, add something... " type="text" name="tasks" class="add_something"/>
<br><br>
<input name="userid" style="visibility:hidden;" value={{user.id}} />
<button  class="add_cancel"  type="submit">ADD</button>
<a href="{%url 'recurring'%}" class="add_cancel">CANCEL</a>
</li>

</form>

<!--if add task is not hit i.e normal case-->
{% elif H is 0%}
  <a href="{%url 'R_add' %}"><li onclick="add_task()" id="add_task"><span class="fas fa-plus-circle fa-2x"> Add Recurring Task</span></li></a>
  {% endif %}

  {%for t in T%}
  <li >
    <!--if task is not done, show un-striked text in the task-->
    {% if t.done is 0 %}
    <a href="{%url 'R_finished' t.id%}"><i onclick="finished({{t.id}})" id="tick"  class="fas fa-check-circle fa-2x"></i></a>
    <p>{{t.tasks}}</p>
    <!--if task is done, show striked text in the task-->
    {%else%}
    <a href="{%url 'R_finished' t.id%}"><i onclick="finished({{t.id}})" id="tick" style="color:red;" class="fas fa-check-circle fa-2x"></i></a>
    <p style="color:#B8B8B8;"><del>{{t.tasks}}</del></p>
    {% endif %}
    
   <table class="jadu">
   <tr>
   <td>
    <form action="{% url 'R_delete' t.id %}" method="POST">
    {% csrf_token %}
    <button class="delete"><i class="fas fa-trash"></i></button>
    </form>
</td>
<td>
     <form action="{% url 'R_update' t.id %}" method="POST">
    {% csrf_token %}
    <button class="delete"><i class="fas fa-pen "></i></button>
    </form>
    </tr>
   </table>
</td>
  </li>
  {% endfor %}

  
</ul>
</div>

{% endblock %}
